interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://comicvine.gamespot.com/api/issue/4000-44193/?format=json
  response:
    body:
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":1,"status_code":1,"results":{"aliases":null,"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/issue\/4000-44193\/","associated_images":[],"character_credits":[{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/character\/4005-24652\/","id":24652,"name":"Alyosha
        Kravinoff","site_detail_url":"https:\/\/comicvine.gamespot.com\/alyosha-kravinoff\/4005-24652\/"},{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/character\/4005-33193\/","id":33193,"name":"Anna
        May Watson","site_detail_url":"https:\/\/comicvine.gamespot.com\/anna-may-watson\/4005-33193\/"},{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/character\/4005-4799\/","id":4799,"name":"Ben
        Urich","site_detail_url":"https:\/\/comicvine.gamespot.com\/ben-urich\/4005-4799\/"},{"api_detail_url":"htt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://comicvine.gamespot.com/api/volume/4050-2870/?format=json
  response:
    body:
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":1,"status_code":1,"results":{"aliases":"Peter
        Parker, the Spectacular Spider-Man\r\nThe All New, All Daring Peter Parker,
        the Spectacular Spider-Man\r\nThe Spectacular Prodigy","api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/volume\/4050-2870\/","characters":[{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/character\/4005-1443\/","id":1443,"name":"Spider-Man","site_detail_url":"https:\/\/comicvine.gamespot.com\/spider-man\/4005-1443\/","count":"262"},{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/character\/4005-13380\/","id":13380,"name":"Mary
        Jane","site_detail_url":"https:\/\/comicvine.gamespot.com\/mary-jane\/4005-13380\/","count":"135"},{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/character\/4005-1487\/","id":1487,"name":"J.
        Jonah Jameson","site_detail_url":"https:\/\/comicvine.gamespot.com\/j-jonah-jameson\/4005-1487\/","count":"96"},{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api[...]
