interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://comicvine.gamespot.com/api/issue/4000-136972/?format=json
  response:
    body:
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":1,"status_code":1,"results":{"aliases":null,"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/issue\/4000-136972\/","associated_images":[],"character_credits":[{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/character\/4005-10371\/","id":10371,"name":"Battlin''
        Jack Murdock","site_detail_url":"https:\/\/comicvine.gamespot.com\/battlin-jack-murdock\/4005-10371\/"},{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/character\/4005-4647\/","id":4647,"name":"Bullseye","site_detail_url":"https:\/\/comicvine.gamespot.com\/bullseye\/4005-4647\/"},{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/character\/4005-24694\/","id":24694,"name":"Daredevil","site_detail_url":"https:\/\/comicvine.gamespot.com\/daredevil\/4005-24694\/"},{"api_detail_url":"https:\/\/comicvine.gamespot.c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://comicvine.gamespot.com/api/volume/4050-2190/?format=json
  response:
    body:
      string: '{"error":"OK","limit":1,"offset":0,"number_of_page_results":1,"number_of_total_results":1,"status_code":1,"results":{"aliases":"Daredevil
        and Black Widow","api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/volume\/4050-2190\/","characters":[{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/character\/4005-24694\/","id":24694,"name":"Daredevil","site_detail_url":"https:\/\/comicvine.gamespot.com\/daredevil\/4005-24694\/","count":"381"},{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/character\/4005-3124\/","id":3124,"name":"Foggy
        Nelson","site_detail_url":"https:\/\/comicvine.gamespot.com\/foggy-nelson\/4005-3124\/","count":"244"},{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/character\/4005-4486\/","id":4486,"name":"Karen
        Page","site_detail_url":"https:\/\/comicvine.gamespot.com\/karen-page\/4005-4486\/","count":"156"},{"api_detail_url":"https:\/\/comicvine.gamespot.com\/api\/chara[...]
